<div class="container">
  <br><br>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-5 col-md-offset-1">
        <app-figurecard (click)=View(old.headerIcon) id="OldEvents" #old data-toggle="modal" data-target="#events"
          title="אירועים ישנים"
          headerIcon="done"
          category="{{events.oldEvents.length}}"
          footContent="אירועים ישנים"
          footerIcon="date_range"
          linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
          boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
        </app-figurecard>
    
    </div>
    <div class="col-md-5 col-md-offset-1" >
        <app-figurecard (click)=View(InProgress.headerIcon) id="EventsInProgress" #InProgress data-toggle="modal" data-target="#events"
          title="אירועים בתהליך"
          headerIcon="donut_large"
          category="{{events.inProgressEvents.length}}"
          footContent="אירועים בתהליך"
          footerIcon="date_range"
          linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
          boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
        </app-figurecard>
    
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="col-md-5 col-md-offset-1">
          <app-figurecard (click)=View(deleted.headerIcon) id="DeletedEvents" #deleted data-toggle="modal" data-target="#events"
            title="אירועים שנמחקו"
            headerIcon="clear"
            category="{{events.deletedEvents.length}}"
            footContent="אירועים שנמחקו"
            footerIcon="date_range"
            linearColor="linear-gradient(60deg, #ef5350, #e53935)"
            boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
          </app-figurecard>
      
      </div>
      <div class="col-md-5 col-md-offset-1">
          <app-figurecard (click)=View(comming.headerIcon) id="CommingEvents" #comming data-toggle="modal" data-target="#events"
            title="אירועים קרובים"
            headerIcon="alarm"
            category="{{events.CSEDB.length}}"
            footContent="אירועים קרובים"
            footerIcon="date_range"
            linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
            boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
          </app-figurecard>
      
      </div>
    </div>
  </div>

</div>
<hr>

<app-events-list #m class="modal" id="events"></app-events-list>


<!-- <app-events-list id="events"></app-events-list> -->

