
<!------ Include the above in your HEAD tag ---------->
<div class="container">

        <div class="row ">
                <div class="col-md-8 col-md-offset-2">
                      
                                <h1 class="entry-title text-right">
                                        <span>הוספת מתנדב חדש</span>
                                </h1>
                                <hr>
                                <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm" method="post" name="signup" id="signup" enctype="multipart/form-data">
                                        <div class="form-group">

                                                <label class="control-label col-sm-3">שם </label>
                                                <div class="col-md-8 col-sm-9">
                                                        <div class="input-group">
                                                                <input type="text" class="form-control text-right" name="name" id="nameid" required  ngModel placeholder="הזן את שם המתנדב" value="">
                                                                <span class="input-group-addon">
                                                                        <i class="	glyphicon glyphicon-user"></i>
                                                                </span>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="form-group">
                                                <label class="control-label col-sm-3">ת"ז

                                                </label>
                                                <div class="col-md-8 col-sm-9">
                                                        <div class="input-group">
                                                                <input type="text" required ngModel class="form-control text-right" name="ID" id="nameid" placeholder="הזן את תועדת הזהות של המתנדב" value="">

                                                                <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-user"></i>
                                                                </span>
                                                        </div>
                                                        <span class="help-block pull-right" *ngIf="oneid">תועדת זהות הנ"ל קיימת כבר במערכת</span>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="control-label col-sm-3">דוא"ל
                                                        <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-md-8 col-sm-9">
                                                        <div class="input-group">
                                                                <input type="email" email ngModel required class="form-control text-right" #email="ngModel" name="email" id="emailid" placeholder="הזן את הדואר האלקטרוני" value="">
                                                                <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                                </span>
                                                                

                                                        </div>
                                                        <span class="help-block pull-right" *ngIf="!email.valid && email.touched">דוא"ל לא תקין</span>
                                                </div>
                                        </div>

                                        <div class="form-group">
                                                <label class="control-label col-sm-3">תאריך לידה

                                                </label>
                                                <div class="col-xs-8">
                                                        <div class="input-group">
                                                                <input type="date" required  ngModel name="date" class="date-time form-control pull-right col-xs-12 text-right">
                                                                <span class="input-group-addon">
                                                                        <i class="	glyphicon glyphicon-calendar"></i>
                                                                </span>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="form-group">
                                                <label class="control-label col-sm-3"> *כתובת
                                                        <span class="text-danger"></span>
                                                </label>
                                                <div class="col-md-8 col-sm-9">
                                                        <div class="input-group">
                                                                <input type="text" required  ngModel class="form-control text-right" name="address" id="mem_name" placeholder="הזן את הכתובת" value="">
                                                                <span class="input-group-addon">
                                                                        <i class="	glyphicon glyphicon-road"></i>
                                                                </span>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="control-label col-sm-3">טלפונים
                                                        <span class="text-danger"></span>
                                                </label>
                                                <div class="col-md-8 col-sm-9 ">
                                                        <div class="input-group">
                                                                <input  type="text" class="form-control text-right" required  ngModel name="phonenum" id="PhoneNumber" placeholder="טלפון נייד" value="">
                                                                <input type="text" class="form-control text-right" required  ngModel name="homenum" id="HomeNumber" placeholder="טלפון נייח" value="">
                                                                <input type="text" class="form-control text-right" ngModel name="extranum" id="ExtraNumber" placeholder="טלפון נוסף" value="">
                                                                <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-phone"></i>
                                                                </span>

                                                        </div>
                                                </div>
                                        </div>

                                        <div class="form-group" dir="ltr">
                                                <label class="control-label col-sm-3"> *עבודה
                                                        <span class="text-danger"></span>
                                                </label>
                                                <div class="col-md-8 col-sm-9">
                                                        <div class="input-group">
                                                                <input type="text" required  ngModel class="form-control text-right" name="job" id="job" placeholder="הזן את העבודה " value="">
                                                                <span class="input-group-addon">
                                                                        <i class="	glyphicon glyphicon-briefcase"></i>
                                                                </span>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="form-group" dir="ltr">
                                                <label class="control-label col-sm-3"> *סוג התנדבות
                                                        <span class="text-danger"></span>
                                                </label>
                                                <div class="col-md-8 col-sm-9">

                                                        <input type="text" required  ngModel class="form-control text-right" name="type" id="type" placeholder="הזן את סוג ההתנדבות" value="">

                                                </div>
                                        </div>








                                     
                                                      <!-- <img [src]="volunteerIMG" class="img-rounded" alt="Cinque Terre"> -->

                                        <!-- <div class="form-group">
                                                <label class="control-label col-sm-3">תמונה
                                                        <br>

                                                </label>
                                                <div class="col-md-8 col-sm-9">
                                                        <div class="input-group">

                                                                <input type="file" ngModel name="file_nm" id="file_nm" class="form-control upload " placeholder="" aria-describedby="file_upload">
                                                                <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-picture"></i>
                                                                </span>
                                                        </div>
                                                </div>
                                        </div> -->

                                        <div class="form-group" >
                                                        <label class="control-label col-md-4"> *ימים הוא יכול להתנדב
                                                                        <span class="text-danger"></span>
                                                                </label>
                                        <div class="col-md-8" data-toggle="buttons">

                                                   
                                        
                                                <label class="btn btn-primary  form-check-label">
                                                    <input type="checkbox" class="form-check-input"  ngModel name="sunday"autocomplete="off" #sunday> ראשון
                                                </label>
                                            
                                                <label class="btn btn-primary form-check-label">
                                                    <input type="checkbox" class="form-check-input" ngModel name="monday" autocomplete="off" #monday> שני
                                                </label>
                                            
                                                <label class="btn btn-primary form-check-label">
                                                    <input type="checkbox" class="form-check-input" ngModel name="tuesday" autocomplete="off" #tuesday> שלישי
                                                </label>
                                                <label class="btn btn-primary form-check-label">
                                                        <input type="checkbox" class="form-check-input" ngModel name="wednesday" autocomplete="off" #wednesday> רביעי
                                                    </label>
                                                    <label class="btn btn-primary form-check-label">
                                                        <input type="checkbox" class="form-check-input" ngModel name="thursday" autocomplete="off" #thursday> חמישי
                                                    </label>
                                                    <label class="btn btn-primary form-check-label">
                                                        <input type="checkbox" class="form-check-input" ngModel name="friday" autocomplete="off" #friday> שישי
                                                    </label>
                                                    <label class="btn btn-primary invisible  form-check-label">
                                                                <input type="checkbox"  ngModel name="saturday"  class="form-check-input "  autocomplete="off" #saturday> שבת
                                                            </label>
                                            
                                            </div>
                                        </div>

                                        <div class="form-group" dir="ltr">
                                                <label class="control-label col-sm-3">*ברושתו רכב
                                                        <span class="text-danger"></span>
                                                </label>
                                                <div class="col-md-8 ">
                                                        <label>
                                                                <input name="type" type="radio" #car value="yes" checked> כן </label>

                                                        <label>
                                                                <input name="type" type="radio" value="no"> לא </label>
                                                </div>
                                        </div>
                                        <div class="form-group" dir="ltr">
                                                <label class="control-label col-md-4"> הוא מכניס חיות ברכב
                                                        <span class="text-danger"></span>
                                                </label>
                                                <div class="col-md-8 col-sm-9">
                                                        <label>
                                                                <input name="incar" type="radio" #incar value="yes" checked> כן </label>

                                                        <label>
                                                                <input name="incar" type="radio" value="no"> לא </label>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                        <div class="col-md-8 col-sm-9 text-right">
                                                        <image-upload (change)="image($event)" [buttonCaption]="'בחר תמונה'" [fileTooLargeMessage]="'Image too large!'" [dropBoxMessage]="'גרור את התמונה פה'"#jj></image-upload>
                                                        </div>
                                                      </div>




                                        <div class="form-group">
                                                <div class="col-xs-offset-3 col-xs-10">
                                                        <input  name="Submit"(click)="days(saturday.checked,sunday.checked,monday.checked,tuesday.checked,wednesday.checked,thursday.checked,friday.checked,car.checked,incar.checked)" 
                                                        [disabled]="!f.valid" type="submit" value="שמור" class="btn btn-primary">
                                                </div>
                                               
           </div></form>   </div></div>     
        </div>