<span class="container">
  <mat-radio-group>
    <mat-radio-button value="1" (click)="radioChoice('Foundation')">קרן</mat-radio-button>
    <mat-radio-button value="2" (click)="radioChoice('private')">פרטי</mat-radio-button>
  </mat-radio-group>
</span>
<ol *ngIf="private">
  <br>
  <mat-form-field>
    <input matInput placeholder="שם התורם" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="שם משפחה" [(ngModel)]="lastname">
  </mat-form-field>

  <br>
  <mat-form-field>
    <input matInput placeholder="מספר נייד" [(ngModel)]="phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="מספר נוסף" [(ngModel)]="extraphone">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="דוא'ל" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="כתובת" [(ngModel)]="address">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="תאריך לידה" class="date-time form-control pull-right col-xs-12 text-right" [(ngModel)]="birthday">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="פרטים נוספים" [(ngModel)]="discription"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="סכום התרומה" [(ngModel)]="amount">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="תז של התורם" [(ngModel)]="id">
  </mat-form-field>
  <br>

  <button mat-raised-button [routerLink]="['/Header/donor/donorList']" (click)="save()" data-dismiss="modal">שמור</button>
</ol>

<ol *ngIf="Foundation">
  <mat-form-field>
    <input matInput placeholder="שם הקרן" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="כתובת" [(ngModel)]="address">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="מספר פלפון" [(ngModel)]="phone">
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="מספר נוסף" [(ngModel)]="extraphone">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="דוא'ל" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="פרטים נוספים" [(ngModel)]="discription"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="סכום התרומה" [(ngModel)]="amount">
  </mat-form-field>
  <br>

  <button type="button " class="btn btn-primary center-block" style="width: 30%;" (click)="save()" data-dismiss="modal" [routerLink]="['/Header/donor/donorList']">שמור</button>

</ol>