<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <mat-toolbar>
                <mat-toolbar-row>
                    <button type="button" data-toggle="modal" data-target="#addModal" class="btn btn-primary col-xs-1 glyphicon glyphicon-plus"
                        title="add new user"></button>
                    <app-add-user class="modal fade" id="addModal" tabindex="-1" role="dialog"></app-add-user>
                    <div class="col-xs-3">
                        <div class='input-group'>
                            <input type="text" class="form-control text-right" [(ngModel)]="queryIn" name="search-query-in">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 btn-lg text-right">
                        <strong> שם משתמש </strong>
                    </div>
                    <div class="col-xs-4 btn-lg text-right">
                        <strong>שם </strong>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <mat-accordion dir="rtl" class="example-headers-align">
                <mat-expansion-panel *ngFor="let us of userService.usersList | filter:queryIn:userService.usersList:searchFor" class="text-right">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-right">
                            {{us.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{us.username}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-sm-4  pull-right text-right">
                            <p>אי-מייל: {{us.email}}</p>
                        </div>
                        <div class="col-sm-4  pull-right text-right">
                            <p>טלפון: {{us.phone}}</p>
                        </div>
                        <div class="col-sm-4  pull-right text-right">
                            <p>סיסמה: {{us.password}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 pull-right text-right">
                            <p> הרשאה למתנדבים : {{us.VolPer }}</p>
                        </div>
                        <div class="col-sm-3 pull-right text-right">
                            <p>הרשאה לתורמים : {{us.DonorPer }}</p>
                        </div>
                        <div class="col-sm-3 pull-right text-right">
                            <p> הרשאה למאומצים : {{us.AdoptPer }}</p>
                        </div>
                        <div class="col-sm-3 pull-right text-right">
                            <p> מוקפא : {{us.Freeze }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6 text-right">
                                <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#deleteModal" (click)="onRemove(us)">מחק</button>
                            </div>
                            <div class="col-xs-6 text-left">
                                <button type="button" data-toggle="modal" data-target="#editModal" class="btn btn-warning" (click)="onEdit(us)">עדכן</button>
                            </div>

                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="modal fadeInDownBig" id="deleteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog text-right" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="h5">למחוק את המשתמש</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">לא</button>
                            <button type="button" class="btn btn-primary" (click)="SumbitRemove()" data-dismiss="modal">כן</button>
                        </div>
                    </div>
                </div>
            </div>
            <app-edit-user class="modal fade" id="editModal" tabindex="-1" role="dialog"></app-edit-user>
        </div>
    </div>
</div>
<br>