<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title text-center">
        <span class="text-right">עדכון משתמש קיים</span>
        <button type="button text-left" #exit class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </h3>
    </div>
    <div class="modal-body">
      <div class="row" dir="rtl">
        <div class="col-sm-12" id="cont1" dir="rtl">
          <form #f="ngForm" (ngSubmit)="onSumbit(f,exit)">
            <div class="row" dir="rtl">
              <div class="col-sm-8 pull-right" id="formdiv">
                <table class="table table-sm" dir="rtl">
                  <tr>
                    <td>
                      <label for="name" id="label">שם</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" ngModel name="name" [ngModel]="usServer.UserEditing.name" value="" required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="phone" id="label">תלפון</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="tel" class="form-control" ngModel name="phone" [ngModel]="usServer.UserEditing.phone" value="" required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="email" id="label">אי-מייל</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" ngModel name="email" [ngModel]="usServer.UserEditing.email" value="" required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="username" id="label">שם משתמש</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" ngModel name="username" [ngModel]="usServer.UserEditing.username" disabled value=""
                          required>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="password" id="label">סיסמה</label>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" ngModel name="password" [ngModel]="usServer.UserEditing.password" value="" required>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-4 text-center" dir="rtl">
                <br>
                <div class="row">
                  <div class="col-xs-12">
                    <label for="per"> הרשאה למתנדבים</label>
                  </div>
                  <div class="form-group col-xs-12 text-center">
                    <input type="radio" value="true" ngModel name="Vper" [checked]="usServer.UserEditing.VolPer" required>כן
                    <input type="radio" value="false" ngModel name="Vper" [checked]="!usServer.UserEditing.VolPer" [disabled]="usServer.UserEditing.username == 'admin' ">לא
                  </div>
                </div>
                <br>
                <div class="row">
                  <label for="per"> הרשאה לתורמים</label>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12 text-center">
                    <input type="radio" value="true" ngModel name="Dper" [checked]="usServer.UserEditing.DonorPer" required>כן
                    <input type="radio" value="false" ngModel name="Dper" [checked]="!usServer.UserEditing.DonorPer" [disabled]="usServer.UserEditing.username == 'admin' ">לא
                  </div>
                </div>
                <br>
                <div class="row">
                  <label for="per"> הרשאה למאומצים</label>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12 text-center">
                    <input type="radio" value="true" ngModel name="Aper" [checked]="usServer.UserEditing.AdoptPer" required>כן
                    <input type="radio" value="false" ngModel name="Aper" [checked]="!usServer.UserEditing.AdoptPer" [disabled]="usServer.UserEditing.username == 'admin' ">לא
                  </div>
                </div>
                <br>
                <div class="row">
                  <label for="per">להקפיא חשבון </label>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12 text-center">
                    <input type="radio" value="true" ngModel name="Freeze" [checked]="usServer.UserEditing.Freeze" required>כן
                    <input type="radio" value="false" ngModel name="Freeze" [checked]="!usServer.UserEditing.Freeze" [disabled]="usServer.UserEditing.username == 'admin' ">לא
                  </div>
                </div>
                <br>





                <!-- <br>
                <div class="row">
                  <div class="col-xs-12">
                    <label for="per"> הרשאה למתנדבים</label>
                  </div>
                  <div class="col-xs-12">
                    <mat-radio-group class="text-right" [disabled]="usServer.UserEditing.username == 'admin' ">
                      <mat-radio-button value="1" name="name1" [checked]="usServer.UserEditing.VolPer" #Vper>כן</mat-radio-button>
                      <mat-radio-button value="2" name="name1" [checked]="!usServer.UserEditing.VolPer">לא</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <br>
                <div class="row">
                  <label for="per"> הרשאה לתורמים</label>
                </div>
                <div class="row">
                  <mat-radio-group class="text-right" [disabled]="usServer.UserEditing.username == 'admin' ">
                    <mat-radio-button value="1" name="name2" [checked]="usServer.UserEditing.DonorPer" #Dper>כן</mat-radio-button>
                    <mat-radio-button value="2" name="name2" [checked]="!usServer.UserEditing.DonorPer">לא</mat-radio-button>
                  </mat-radio-group>
                </div>
                <br>
                <div class="row">
                  <label for="per"> הרשאה למאומצים</label>
                </div>
                <div class="row">
                  <mat-radio-group class="text-right" [disabled]="usServer.UserEditing.username == 'admin' ">
                    <mat-radio-button value="1" name="name3" [checked]="usServer.UserEditing.AdoptPer" #Aper>כן</mat-radio-button>
                    <mat-radio-button value="2" name="name3" [checked]="!usServer.UserEditing.AdoptPer">לא</mat-radio-button>
                  </mat-radio-group>
                </div>
                <br>
                <div class="row">
                  <label for="per">להקפיא חשבון </label>
                </div>
                <div class="row">
                  <mat-radio-group class="text-right" [disabled]="usServer.UserEditing.username == 'admin' ">
                    <mat-radio-button value="1" name="name4" [checked]="usServer.UserEditing.Freeze" #Freeze>כן</mat-radio-button>
                    <mat-radio-button value="2" name="name4" [checked]="!usServer.UserEditing.Freeze">לא</mat-radio-button>
                  </mat-radio-group>
                </div>
                <br>
                 -->
              </div>
            </div>
            <div class="modal-footer">
              <input name="Submit" [disabled]="!f.valid" type="submit" value="שמור" class="btn btn-primary">
              <button type="button" class="btn btn-danger" data-dismiss="modal">סגור</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
















<!-- <div class="row" dir="rtl">
  <div class="col-sm-12" id="cont1" dir="rtl">
    <form #f="ngForm" (ngSubmit)="onSumbit(f,Vper.checked,Dper.checked,Aper.checked,Freeze.checked)">
      <div class="row" dir="rtl">
        <div class="col-sm-7" id="formdiv">
          <table class="table table-sm" dir="rtl">
            <tr>
              <td>
                <label for="name" id="label">שם</label>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ngModel name="name" [ngModel]="usServer.UserEditing.name" value="">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label for="phone" id="label">תלפון</label>
              </td>
              <td>
                <div class="form-group">
                  <input type="tel" class="form-control" ngModel name="phone" [ngModel]="usServer.UserEditing.phone" value="">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label for="email" id="label">אי-מייל</label>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ngModel name="email" [ngModel]="usServer.UserEditing.email" value="">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label for="username" id="label">שם משתמש</label>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ngModel name="username" [ngModel]="usServer.UserEditing.username" [disabled]="usServer.UserEditing.username == admin"
                    value="">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label for="password" id="label">סיסמה</label>
              </td>
              <td>
                <div class="form-group">
                  <input type="password" class="form-control" ngModel name="password" [ngModel]="usServer.UserEditing.password" value="">
                </div>
              </td>
            </tr>
          </table>
          <br>
        </div>
        <div class="col-sm-5" id="radiodiv" dir="rtl">
          <label class="radiolabel" for="volpermission">
            <b> הרשאה למתדבים </b>
          </label>
          <div>
            <input type="radio" name="name1" value="כן" [checked]="usServer.UserEditing.VolPer" #Vper required> כן
            <input type="radio" name="name1" value="לא" [checked]="!usServer.UserEditing.VolPer" required> לא
          </div>
          <br>
          <label class="radiolabel" for="volpermission">
            <b> הרשאה לתורמים </b>
          </label>
          <div>
            <input type="radio" name="name2" value="כן" [checked]="usServer.UserEditing.DonorPer" #Dper required> כן
            <input type="radio" name="name2" value="לא" [checked]="!usServer.UserEditing.DonorPer" required> לא
          </div>
          <br>
          <label class="radiolabel" for="volpermission">
            <b> הרשאה למאומצים </b>
          </label>
          <div>
            <input type="radio" name="name3" value="כן" [checked]="usServer.UserEditing.AdoptPer" #Aper required> כן
            <input type="radio" name="name3" value="לא" [checked]="!usServer.UserEditing.AdoptPer" required> לא
          </div>
          <br>
          <label class="radiolabel" for="freeze">
            <b>להקפיא חשבון</b>
          </label>
          <div>
            <input type="radio" name="name4" value="כן" [checked]="usServer.UserEditing.Freeze" #Freeze required> כן
            <input type="radio" name="name4" value="לא" [checked]="!usServer.UserEditing.Freeze" required> לא
          </div>
          <br>

          <br>
        </div>
      </div>
      <div class="text-center">
        <input name="Submit" type="submit" value="שמור" class="btn btn-primary">
        <button type="button" class="btn btn-danger" data-dismiss="modal">סגור</button>
      </div>
    </form>
  </div>
</div> -->